<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  Hero,
  BySolutionHeader,
  SolutionGrid,
  ByCompanySizeBlock,
  ByIndustryHeader,
  ByIndustryShowcase,
} from '../../components/solutions/landing/index.vue';
import GroupButtons from '~/components/common/group-buttons.vue';
import { getPageMetadata } from '~/common/meta';
import { PartnersGridFull } from '~/components/open-source/index.vue';
import { NextStep } from '~/components/common/index.vue';
import { BadgeTabs } from '~/components/home/index.vue';

export default Vue.extend({
  components: {
    Hero,
    BySolutionHeader,
    SolutionGrid,
    NextStep,
    ByCompanySizeBlock,
    ByIndustryHeader,
    ByIndustryShowcase,
    PartnersGridFull,
    BadgeTabs,
    GroupButtons,
  },
  // eslint-disable-next-line
  async asyncData({ $content, params, error }: any) {
    try {
      const solutions = await $content(`solutions/index`).fetch();
      return { solutions };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).solutions, this.$route.path);
  },
});
</script>

<template>
  <div>
    <Hero v-bind="solutions.hero" />
    <GroupButtons class="desktop-only" :data="solutions.navigation" />
    <SlpContainer>
      <div id="by-solution">
        <BySolutionHeader v-bind="solutions.by_solution.hero" />
        <SolutionGrid v-bind="solutions.by_solution.grid" />
      </div>
      <div id="by-company-size">
        <ByCompanySizeBlock v-bind="solutions.by_company_size" />
      </div>
    </SlpContainer>
    <div id="by-industry">
      <SlpContainer variant="light-purple-100">
        <ByIndustryHeader v-bind="solutions.by_industry.hero" />
        <ByIndustryShowcase v-bind="solutions.by_industry.showcase" />
      </SlpContainer>
      <PartnersGridFull class="slp-pb-48" :data="solutions.by_industry.logos" />
    </div>
    <SlpContainer>
      <BadgeTabs :data="solutions.badges" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.desktop-only {
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}
</style>
