<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '~/common/meta';

import { NextStep } from '~/components/common/index.vue';
import { Header, TabTable, Legend } from '~/components/competition/index.vue';

export default Vue.extend({
  components: {
    NextStep,
    Header,
    TabTable,
    Legend,
  },
  nuxtI18n: false,
  async asyncData({ $content, error }: any) {
    try {
      const competition = await $content('/competition/index').fetch();
      return { competition };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head() {
    return getPageMetadata((this as any).competition, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <Header :data="competition.hero" />
    </SlpContainer>
    <SlpContainer class="competition-table-wrapper">
      <TabTable :data="competition.tab_table" />
      <Legend :data="competition.legend" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep disable-animations />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.competition-table-wrapper {
  @media (max-width: $breakpoint-lg) {
    padding-left: 0;
    padding-right: 0;
  }
}
</style>
