<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common';
import {
  ColumnGroup,
  StatsGrid,
  SurveyBanner,
  SurveyTabs,
  DownloadForm,
  SurveyLinks,
  AnimatedHero,
  SurveyHero,
  SurveyStatBarsSection,
  SurveyRegionBubbles,
  SurveyRoleBubbles,
  SurveyQuoteCarousel,
} from '~/components/developer-survey';

export default Vue.extend({
  components: {
    Hero: AnimatedHero,
    ColumnGroup,
    StatsGrid,
    SurveyBanner,
    SurveyTabs,
    NextStep,
    DownloadForm,
    SurveyLinks,
    SurveyHero,
    SurveyStatBarsSection,
    SurveyRegionBubbles,
    SurveyRoleBubbles,
    SurveyQuoteCarousel,
  },
  nuxtI18n: false,
  async asyncData({ $content, error }: any) {
    try {
      const survey = await $content(`developer-survey/index`).fetch();
      return { survey };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head() {
    return getPageMetadata((this as any).survey, this.$route.path);
  },
});
</script>

<template>
  <div class="developer-survey">
    <SlpContainer variant="charcoal-100" class="slp-overflow-x-hidden">
      <Hero :data="survey.hero" class="slp-mt-96" />
    </SlpContainer>
    <div :class="survey.intro.variant">
      <component
        :is="component.name"
        v-for="(component, index) in survey.intro.components"
        :key="component.name + `-${index}`"
        class="section"
        :class="component.data.variant"
        :data="component.data"
      />
    </div>
    <SurveyBanner :data="survey.survey_banner.data" />
    <div :class="survey.survey_tabs.variant">
      <SurveyTabs :data="survey.survey_tabs.tabs" />
    </div>
    <div class="light">
      <SlpContainer id="download" class="slp-px-16">
        <DownloadForm :data="survey.download.form_block" />
        <SurveyLinks :data="survey.download.links_block" />
      </SlpContainer>
    </div>
    <SlpContainer variant="gradient" class="slp-px-16">
      <NextStep disable-animations />
    </SlpContainer>
  </div>
</template>
<style lang="scss" scoped>
.developer-survey {
  overflow: hidden;
  .section {
    margin: $spacing-160 0;
  }
  .dark {
    background-color: $color-surface-700;
    padding: 1px 0;
    color: $color-primary-300;
    &:first-child {
      margin-top: 0;
    }
  }
  .light {
    background-color: #f1edfc;
  }
  :deep {
    .slp-container {
      position: relative;
    }
  }
}
</style>
