<script lang="ts">
import Vue from 'vue';
import SurveyQuote from './survey-quote.vue';
import ColumnGroup from './column-group.vue';
import SurveyHero from './survey-hero.vue';
import SurveyStatBarsSection from './survey-stat-bars-section.vue';
import SurveyBanner from './survey-banner.vue';
import SurveyQuoteCarousel from './survey-quote-carousel.vue';
import SurveyRegionBubbles from './survey-region-bubbles.vue';
import SurveyRoleBubbles from './survey-role-bubbles.vue';
import { SolutionsHero } from '~/components/solutions';

export default Vue.extend({
  name: 'SurveyTabs',
  components: {
    SolutionsHero,
    ColumnGroup,
    SurveyQuote,
    SurveyHero,
    SurveyStatBarsSection,
    SurveyBanner,
    SurveyQuoteCarousel,
    SurveyRegionBubbles,
    SurveyRoleBubbles,
  },
  props: {
    data: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      tabs: [],
      firstTab: null,
      lastTab: null,
      tabpanels: [],
      selectedTab: 0,
    };
  },
  methods: {
    onTabChange(value: number) {
      this.selectedTab = value;
    },
  },
});
</script>

<template>
  <section class="survey-tabs">
    <div class="survey-tabs__tabs">
      <SlpContainer v-if="data.length > 1">
        <div role="tablist" aria-labelledby="tablist-1">
          <button
            v-for="(tab, tabIndex) in data"
            :id="`tab-${tabIndex}`"
            :key="tab.header"
            ref="tab"
            type="button"
            role="tab"
            aria-selected="true"
            :aria-controls="`tabpanel-${tabIndex}`"
            class="survey-tabs__tab"
            :class="selectedTab == tabIndex ? 'survey-tabs__tab--active' : ''"
            @click="onTabChange(tabIndex)"
          >
            <SlpTypography variant="body1-bold" tag="p">
              {{ tab.header }}
            </SlpTypography>
          </button>
        </div>
      </SlpContainer>

      <div
        v-for="(tabContent, tabContentIndex) in data"
        v-show="tabContentIndex === selectedTab"
        :id="`tabpanel-${tabContentIndex}`"
        :key="`tab-content-${tabContentIndex}`"
        role="tabpanel"
        tabindex="0"
        :aria-labelledby="`tab-${tabContentIndex}`"
      >
        <component
          :is="component.name"
          v-for="(component, index) in tabContent.components"
          :key="component.name + `-${index}`"
          class="survey-tabs__section"
          :class="component.data.variant"
          :data="component.data"
        />
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.survey-tabs {
  &__tab {
    color: $color-primary-300;
    border: none;
    cursor: pointer;
    padding: $spacing-24 0;
    margin-right: $spacing-32;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 0%;
      background-color: $color-primary-300;
      position: absolute;
      bottom: 0;
      transition: width 0.3s ease;
    }
    &--active {
      &:after {
        width: 100%;
      }
    }
  }
  &__section {
    margin-top: $spacing-96;
    &:last-of-type {
      margin-bottom: $spacing-160;
      padding-bottom: $spacing-32;
    }
    @media (min-width: $breakpoint-md) {
      margin-top: $spacing-160;
    }
  }
}
</style>
