<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import Tabs from '../../customers/tabs.vue';

interface Category {
  name: string;
  cta: {
    text: string;
    href: string;
  };
  quote: {
    header: string;
    logo: string;
    text: string;
    author: {
      name: string;
      title: string;
      company: string;
    };
    metrics: {
      value: string;
      text: string;
    };
    button: {
      href: string;
    };
  };
}

export default Vue.extend({
  components: {
    Tabs,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
    categories: {
      type: Array as PropType<Category[]>,
      required: true,
    },
  },
  data() {
    return {
      selectedTab: 0,
      tabs: [],
    };
  },
  mounted() {
    this.tabs = this.categories.map((category) => category.name);
  },
  methods: {
    setActiveCategory(newTab: number) {
      this.selectedTab = newTab;
    },
  },
});
</script>

<template>
  <div class="by-industry-showcase">
    <div class="showcase-container">
      <Tabs
        :tabs="tabs"
        :cta="categories[selectedTab].cta"
        :selected-tab="selectedTab"
        @change="(newTab) => setActiveCategory(newTab)"
      />
      <transition name="fade" mode="out-in" tag="div">
        <div :key="selectedTab">
          <SlpTypography variant="heading3-bold" tag="h2" class="header">{{
            categories[selectedTab].quote.header
          }}</SlpTypography>
          <div class="showcase-cards">
            <div class="feature-card">
              <div class="text-container">
                <SlpIcon
                  name="quote"
                  variant="marketing"
                  size="md"
                  class="quote-icon slp-mb-16"
                />
                <SlpTypography variant="quotes" class="slp-mb-16">
                  {{ categories[selectedTab].quote.text }}
                </SlpTypography>
                <div class="author slp-mb-24">
                  <img
                    class="logo"
                    :src="categories[selectedTab].quote.logo"
                    :alt="
                      categories[selectedTab].quote.author.company + ' logo'
                    "
                    loading="lazy"
                  />
                  <div class="author-info">
                    <SlpTypography variant="body3-bold" tag="p">
                      {{
                        categories[selectedTab].quote.author.name
                      }}</SlpTypography
                    >
                    <SlpTypography variant="body3" tag="p">
                      {{
                        categories[selectedTab].quote.author.title
                      }}</SlpTypography
                    >
                    <SlpTypography variant="body3" tag="p">
                      {{
                        categories[selectedTab].quote.author.company
                      }}</SlpTypography
                    >
                  </div>
                </div>
                <SlpButton
                  :href="categories[selectedTab].quote.button.href"
                  class="button"
                  variant="tertiary"
                >
                  Read story
                  <SlpIcon
                    variant="product"
                    name="chevron-lg-right"
                    class="slp-ml-8"
                  />
                </SlpButton>
              </div>
            </div>
            <div class="metrics">
              <div
                v-for="(metric, index) in categories[selectedTab].quote.metrics"
                :key="metric.text"
                class="metric"
                :class="`metric-${index}`"
              >
                <SlpTypography variant="heading2-bold" tag="p" class="value">{{
                  metric.value
                }}</SlpTypography>
                <SlpTypography variant="heading5" tag="p">
                  {{ metric.text }}</SlpTypography
                >
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.by-industry-showcase {
  margin-bottom: 48px;
}
.header {
  margin-bottom: 32px;
  @media (min-width: $breakpoint-lg) {
    margin-bottom: 48px;
    max-width: 60%;
  }
}

a {
  color: $color-text-300;
}

.text-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: $breakpoint-md) {
    min-height: 185px;
  }
}
.logo {
  max-height: 64px;
  max-width: 160px;
}
.image {
  max-width: 250px;
  object-fit: cover;
  @media (min-width: $breakpoint-lg) {
    display: block;
    max-width: 561px;
    max-height: 442px;
  }
}
.showcase-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }
}

.feature-card {
  display: flex;
  background: white;
  padding: 48px;
  border-radius: 4px;
  flex-basis: 72%;
  @media (max-width: $breakpoint-md) {
    width: 100%;
    flex-direction: column;
    padding: 32px 24px;
  }
  .author {
    display: flex;
    width: 100%;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width: $breakpoint-lg) {
      align-items: center;
      flex-direction: row;
    }
    .author-info {
      display: flex;
      flex-direction: column;
    }
  }
}
.metrics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  flex: 1;
  .metric {
    background: #ffffff;
    padding: 32px;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;

    &:first-child {
      border-radius: 0px 8px 0px 0px;
    }
    &:last-child {
      border-radius: 0px 0px 64px 0px;
    }
    .value {
      color: $color-text-link-100;
    }
    @media (max-width: $breakpoint-lg) {
      padding: 24px;
    }
  }
}
</style>
