<script lang="ts">
import Vue from 'vue';
import LaunchDarkly from '../common/launch-darkly.vue';
import SlpSearchBar from './search-bar.vue';

export default Vue.extend({
  name: 'SlpNavigationHOC',
  components: {
    SlpSearchBar,
    LaunchDarkly,
  },
  data() {
    return {
      searchVisible: false,
    };
  },
  mounted() {
    document.addEventListener('searchClick', this.toggleDesktopSearch);
    window.addEventListener('load', () => {
      const freeTrialButton = document.querySelector(
        '.navigation-bottom-right [data-nav="free trial"]',
      );
      freeTrialButton.addEventListener('click', this.clickedFreeTrial);

      const steelButton = document.querySelector('.nav-button--steel');
      for (let i = 1; i <= 2; i++) {
        setTimeout(() => {
          steelButton?.classList.add('nav-button--animate');
          setTimeout(
            () => steelButton?.classList.remove('nav-button--animate'),
            500 * i,
          );
        }, 2000 * i);
      }
    });
  },
  methods: {
    closeDesktopSearch() {
      this.searchVisible = false;
    },
    toggleDesktopSearch() {
      this.searchVisible = !this.searchVisible;
      if (this.searchVisible) {
        this.sendFocusToSearch();
      }
    },
    openDesktopSearch() {
      this.searchVisible = true;
      this.sendFocusToSearch();
    },
    sendFocusToSearch() {
      const searchBarReference = this.$refs.searchBar as any;
      setTimeout(() => {
        searchBarReference?.$refs.searchInput.focus();
      }, 350);
    },
    clickedFreeTrial() {
      this.$refs.launchDarkly.fireCustomEvent('clicked-free-trial-nav');
    },
  },
});
</script>

<template>
  <div class="nav-hoc">
    <client-only>
      <LaunchDarkly ref="launchDarkly" feature-flag="2064-nav-trial-variant">
        <template #control>
          <SlpNavigation free-trial-variant="primary" />
        </template>

        <template #experiment>
          <SlpNavigation free-trial-variant="steel" />
        </template>
      </LaunchDarkly>
      <slp-search-bar
        v-show="searchVisible"
        ref="searchBar"
        :on-close="closeDesktopSearch"
      />
    </client-only>
  </div>
</template>

<style lang="scss">
.nav-hoc {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1025;

  .navigation-dropdown__popover {
    a {
      text-decoration: none !important;
    }
  }

  .nav-button--animate {
    &:after {
      animation: shine 1s ease-in-out;
    }
  }

  @keyframes shine {
    100% {
      left: 200%;
    }
  }
}
</style>
