<script>
import { IsMobileMixin } from '../../mixins';
import Tabs from './tabs.vue';

export default {
  components: {
    Tabs,
  },
  mixins: [IsMobileMixin],
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      selectedTab: 0,
      tabs: [],
    };
  },
  mounted() {
    this.tabs = this.data.categories.map((category) => category.name);
  },
  methods: {
    setActiveCategory(newTab) {
      this.selectedTab = newTab;
    },
  },
};
</script>

<template>
  <SlpContainer>
    <div class="customers-showcase">
      <SlpTypography
        :variant="isMobile ? 'heading3-bold' : 'heading2-bold'"
        tag="h2"
        class="header"
        >{{ data.header }}</SlpTypography
      >
      <div class="showcase-container">
        <Tabs
          :tabs="tabs"
          :cta="data.categories[selectedTab].cta"
          :selected-tab="selectedTab"
          @change="(newTab) => setActiveCategory(newTab)"
        />
        <transition name="fade" mode="out-in" tag="div">
          <div :key="selectedTab" class="showcase-cards">
            <div class="feature-card">
              <img
                class="image"
                :src="data.categories[selectedTab].quote.image"
                :alt="data.categories[selectedTab].quote.alt"
                loading="lazy"
              />
              <div class="text-container">
                <img
                  class="logo slp-mb-16"
                  :src="data.categories[selectedTab].quote.logo"
                  :alt="data.categories[selectedTab].quote.alt"
                  loading="lazy"
                />
                <SlpTypography variant="quotes" class="slp-mb-16">
                  {{ data.categories[selectedTab].quote.text }}
                </SlpTypography>
                <div class="author slp-mb-24">
                  <SlpTypography variant="body3-bold" tag="p">
                    {{
                      data.categories[selectedTab].quote.author.name
                    }}</SlpTypography
                  >
                  <SlpTypography variant="body3" tag="p">
                    {{
                      data.categories[selectedTab].quote.author.title
                    }}</SlpTypography
                  >
                </div>
                <SlpButton
                  :href="data.categories[selectedTab].quote.button.href"
                >
                  {{
                    data.categories[selectedTab].quote.button.text ||
                    'Read story'
                  }}
                  <SlpIcon
                    variant="product"
                    name="chevron-lg-right"
                    class="slp-ml-8"
                  />
                </SlpButton>
              </div>
            </div>
            <div
              v-for="customerCase in data.categories[selectedTab].cases"
              :key="customerCase.text"
              class="case-study"
            >
              <img
                class="image"
                :src="customerCase.image"
                :alt="customerCase.alt"
                loading="lazy"
              />
              <div class="text-container">
                <img
                  class="logo"
                  :src="customerCase.logo"
                  :alt="customerCase.alt"
                  loading="lazy"
                />
                <SlpTypography variant="body1" class="text slp-mb-24">
                  {{ customerCase.text }}</SlpTypography
                >
                <SlpButton :href="customerCase.button.href">
                  {{ customerCase.button.text || 'Read story' }}
                  <SlpIcon
                    variant="product"
                    name="chevron-lg-right"
                    class="slp-ml-8"
                  />
                </SlpButton>
              </div>
            </div>
            <div class="mobile-learn-more-button">
              <SlpButton
                variant="tertiary"
                :href="data.categories[selectedTab].cta.href"
                >{{ data.categories[selectedTab].cta.text
                }}<SlpIcon variant="product" name="chevron-lg-right"
              /></SlpButton>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.mobile-learn-more-button {
  display: block;
  a {
    text-align: left;
  }
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
.customers-showcase {
  margin-bottom: 112px;
}
.header {
  margin-bottom: 60px;
  @media (min-width: $breakpoint-md) {
    max-width: 70%;
  }
}

.text-container {
  display: flex;
  background: $color-surface-800;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 265px;
  padding: 40px;
  height: 100%;
  @media (max-width: $breakpoint-lg) {
    min-height: 0;
    padding: 16px;
    border-radius: 0 0 4px 4px;
  }
}
.logo {
  max-width: 120px;
  max-height: 100px;
  margin-bottom: 8px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 16px;
  }
}
.text {
  @media (max-width: $breakpoint-md) {
    margin-bottom: 24px;
  }
}
.image {
  max-width: 100%;
  max-height: 160px;
  object-fit: cover;
  @media (min-width: $breakpoint-md) {
    max-width: 561px;
    max-height: 442px;
    display: block;
  }
}
.showcase-cards {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
}

.feature-card {
  display: flex;
  grid-column: span 2;
  border-radius: 4px;
  overflow: hidden;
  @media (max-width: $breakpoint-md) {
    grid-column: span 1;
    flex-direction: column;
  }
  .image {
    @media (min-width: $breakpoint-md) {
      min-height: 100%;
    }
  }
}

.case-study {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  &:last-child {
    .text-container {
      @media (min-width: $breakpoint-md) {
        border-radius: 0 0 100px 0;
      }
    }
  }
  .image {
    max-height: 200px;
    min-width: 100%;
  }
}
</style>
