<script lang="js">
import Vue from 'vue';
import { NextStep } from '../components/common/index.vue';
import {
  NewQuotesCarousel,
  CustomerLogos,
  ResourceCards,
  SolutionsContainer as Solutions,
  SolutionsHeader as SolutionsContainer,
  Hero,
  BadgeTabs,
  FeaturedContent,
} from '../components/home/index.vue';
import { getPageMetadata } from '../common/meta';

export default Vue.extend({
  components: {
    NewQuotesCarousel,
    CustomerLogos,
    ResourceCards,
    NextStep,
    Solutions,
    SolutionsContainer,
    Hero,
    BadgeTabs,
    FeaturedContent,
  },
  nuxtI18n: false,
  async asyncData({ $content, params }) {
    const doc = await $content('index', params.slug).fetch();
    return { doc };
  },
  head() {
    return {
      ...getPageMetadata(this.doc, this.$route.fullPath),
      link: [
        {
          rel: 'alternate',
          hreflang: 'x-default',
          href: 'https://about.gitlab.com/',
        },
        {
          rel: 'alternate',
          hreflang: 'ja-jp',
          href: 'https://about.gitlab.com/ja-jp/',
        },
        {
          rel: 'alternate',
          hreflang: 'fr-fr',
          href: 'https://about.gitlab.com/fr-fr/',
        },
        {
          rel: 'alternate',
          hreflang: 'fr',
          href: 'https://about.gitlab.com/fr-fr/',
        },
        {
          rel: 'alternate',
          hreflang: 'de-de',
          href: 'https://about.gitlab.com/de-de/',
        },
        {
          rel: 'alternate',
          hreflang: 'de',
          href: 'https://about.gitlab.com/de-de/',
        },
      ],
    };
  },
  mounted() {
    this.onResize();
    window.addEventListener('resize', this.onResize);
  },
  destroyed() {
    window.removeEventListener('resize', this.onResize);
  },
  methods: {
    onResize() {
      this.width = window.innerWidth;
    },

  },
});
</script>

<template>
  <div>
    <Hero :data="doc.cta_block" />
    <SlpContainer>
      <CustomerLogos :data="doc.customer_logos_block" />
    </SlpContainer>
    <FeaturedContent :data="doc.featured_content" />
    <section>
      <NewQuotesCarousel :data="doc.quotes_carousel_block" />
    </section>
    <section>
      <SolutionsContainer :data="doc.solutions_block" />
    </section>
    <section>
      <Solutions :data="doc.solutions_block" />
    </section>
    <BadgeTabs :data="doc.badges" />
    <section>
      <ResourceCards :data="doc.resource_card_block" />
    </section>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
